.container-fluid{
    padding-top: 3%;
     height: 100vh;
    width: 100vw;
    background: rgba(53, 94, 86, 0.516);
}
body{
    width: 90vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow: hidden;

}
.d-flex{
    
}
